body{
  
    max-width: 10px;
    min-width: 5px;
    height: 15px;
    margin: 10px,20px,30px,40px;/*top,right,bottom,left*/
    border: 50% solid (rgb(115, 0, 255));
    border-radius: 20px;
    padding: 50px;/*Equal paddinhg on all sides*/
}